<!-- hero -->
<div class="hero">
  <div class="hero-content">
    <h1>Learn a language for free. Today</h1>
    <button mat-raised-button color="accent" class="round button" routerLink="/signup">Get started</button>
  </div>
</div>

<!-- features-hero -->
<div class="features-hero">
  <div class="grid-x align-center">
    <div class="cell small-12 medium-4 padding-2">
      <img src="../../assets/images/education.svg" class="icons" alt="education">
      <h4>We’ve got you covered</h4>
      <p>Go from zero to language hero with over 200 courses full of rich content created by expert linguists.</p>
    </div>
    <div class="cell small-12 medium-4 padding-2">
      <img src="../../assets/images/people.svg" class="icons" alt="interact">
      <i class="far fa-comments icons"></i>
      <h4>Interact with people</h4>
      <p>You can chat with people in realtime and learn with them. You know what they say "Two heads are better than one".</p>
    </div>
    <div class="cell small-12 medium-4 padding-2">
      <img src="../../assets/images/questions.svg" class="icons" alt="questions">
      <i class="fas fa-bullseye icons"></i>
      <h4>Read, Listen, Speak</h4>
      <p>Each lesson includes a variety of speaking, listening, translation, and multiple choice challenges.</p>
    </div>
  </div>
</div>

<!-- devices -->
<div class="devices-hero">
  <img src="../../assets/images/devices.png" class="devices" alt="devices">
  <div class="devices-hero-description">
    <h3>Learn anytime, anywhere.</h3>
    <hr>
    <p>Make your breaks and commutes more productive with our iPhone and Android apps. Download them and see why Apple and
      Google gave us their highest accolades.
    </p>
    <div class="buttons">
      <button type="button" class="button">
        iOS
      </button>
      <button type="button" class="button">
        Android
      </button>
    </div>
  </div>
</div>

<div class="upgrade-hero">
  <div class="grid-x align-center">
    <div class="cell small-12 medium-8 large-4">
      <ul class="pricing-table">
        <li class="title">Upgrade now</li>
        <li class="price">$4.99/Month</li>
        <li>Over 200 language combinations</li>
        <li>Support of community</li>
        <li>Study without advertising</li>
        <li>Download the lessons and learn offline</li>
        <li><a class="button round" href="#">Buy pro from $4.99 (USD) per month</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="ecommerce-footer align-center">
 <div class="ecommerce-footer-links grid-x align-center">
   <div class="small-12 medium-12 large-12 cell align-center">
     <div class="grid-x ecommerce-footer-links-block align-center">
       <div class="small-4 medium-4 large-3 cell">
         <h5>Tingofy</h5>
         <ul class="menu vertical">
           <li><a href="#">About Us</a></li>
           <li><a href="#">Contact Us</a></li>
           <li><a href="#">Team</a></li>
           <li><a href="#">Jobs</a></li>
           <li><a href="#">Press</a></li>
         </ul>
       </div>
       <div class="small-4 medium-4 large-3 cell">
         <h5>Help</h5>
         <ul class="menu vertical">
           <li><a href="#">FAQ & Help</a></li>
           <li><a href="#">Privacy Policy</a></li>
           <li><a href="#">Terms of Use</a></li>
         </ul>
       </div>
       <div class="small-4 medium-4 large-3 cell">
         <h5>Social</h5>
         <ul class="menu vertical">
           <li><a href="#">Facebook</a></li>
           <li><a href="#">Twitter</a></li>
           <li><a href="#">Instagram</a></li>
           <li><a href="#">Youtube</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>

<footer>
  <span>©2018 Tingofy by @jesussandrea12. All rights reserved.</span>
  <p>Tingofy loves (❤️) you</p>
</footer>
