// Imports
@import '../../../node_modules/foundation-sites/scss/foundation';
@import '../../assets/foundation-sites/variables';
@include foundation-everything($prototype: true);

$hero-height: 65vh;

// ============================== hero ===========================================

.hero {
  background: url('../../assets/images/bgg.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 57.38px);
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.hero-content {
  max-width: $global-width;
  margin: 0 auto;
  text-align: center;
  align-items: center;

  h1 {
    font-family: $montserrat;
    font-size: 2em;
    color: white;
  }
}

.button.round {
  border-radius: 5000px;
  background-color: $pink;
  font-size: 1.2em;
  margin-bottom: 0;
}
.button.round:hover {
  background-color: $dark-pink;
}

// ============================== features ===========================================

.features-hero {
  text-align: center;
  background-color: whitesmoke;
  padding: 3em;

  h4 {
    margin-top: .5em;
    font-family: $montserrat;
    font-weight: bold;
    color: $color-dark;
  }

  p {
    font-family: $roboto;
    color: gray;
  }

  .icons {
    width: 120px;
  }
}

// ============================== devices ===========================================

.devices-hero {
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .devices-hero-description {
    flex-direction: column;
    padding: 4em;

    h3 {
      font-family: $montserrat;
      font-weight: bold;
      color: $color-gray;
    }

    p {
      font-family: $roboto;
      color: gray;
    }
  }

  .buttons {
    flex-direction: row;

    button {
      font-family: $roboto;
      font-size: 1em;
      // font-weight: bold;
      background-color: transparent;
      border-radius: 5000px;
      border: 3px solid $color-teal;
      color: $color-teal;
      margin-right: 10px;

      &:hover {
        color: white;
        background-color: $color-teal;
        transition: all 0.5s ease;
      }
    }
  }
}

.devices {
  flex-direction: row;
  width: 510px;
  height: 510px;
  margin-left: 8em;
}

// ============================== upgrade ===========================================

.upgrade-hero {
  padding: 3em;
  background: url('../../assets/images/spacex.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.pricing-table {
  background-color: $white;
  border: solid 1px $medium-gray;
  font-family: $roboto;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin-left: 0;

  li {
    border-bottom: none;
    padding: 0.875rem 1.125rem;

    &:last-child {
      border-bottom: 0;
    }
  }

  .title {
    color: $black;
    border-bottom: 0;
    font-weight: bold;
  }

  .price {
    background-color: $light-gray;
    font-family: $montserrat;
    font-size: 2rem;
    border-bottom: 0;
  }

  .description {
    color: $dark-gray;
    font-family: $roboto;
    font-size: $small-font-size;
  }

  :last-child {
    margin-bottom: 0;
  }

  .button {
    font-size: 1em !important;
  }
}

// ================================ footer ========================================

.ecommerce-footer {
  background-color: $color-dark;
  padding: 70px 20px 40px 20px;
}

.ecommerce-footer-links {
  padding-left: 10em;
  padding-right: 10em;

  h5 {
    color: $color-lightgray;
    font-family: $montserrat;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .menu > li > a {
    line-height: 1.5em;
    padding: 0.1rem 0rem;
  }

  a {
    color: gray;
    font-size: 1rem;
    font-family: $roboto;
    transition: all 0.5s ease;
  }

  a:hover {
    color: $color-lightblue;
    transition: all 0.3s ease;
  }

  .more-categories {
    margin-top: 2rem;

    @include breakpoint(small down) {
      margin-top: 2rem;
    }
  }

  .ecommerce-footer-links-block {

    @include breakpoint(medium down) {
      margin-bottom: 3rem;
    }
  }
}

footer {
  text-align: center;
  font-family: $roboto;
  padding: 3em;
  color: $color-lightgray;
  background-color: $color-dark;
}
