@import '../assets/foundation-sites/variables';

// ================================= nav =======================================
.top-bar {
  background-color: $color-white;
  position: static;
  display: flex;
  width: 100%;

  .menu {
    background-color: $color-white;

    .menu-links {
      font-family: $roboto;
      color: $color-gray !important;
      text-transform: capitalize;
      font-weight: light;
      font-size: 1em;
    }

    li {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .menu-text {
    color: $color-dark;
  }

  .menu-logo {
    font-family: $montserrat;
    font-size: 1.2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.padding {
  padding-left: 3em;
  padding-right: 3em;
}

// buttons
.button {
  margin-bottom: 0;
  font-family: $roboto;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-login {
  background-color: transparent;
  border: 3px solid $color-teal;
  color: $color-teal;
  margin-right: 10px;
  transition: .5s ease;

  &:hover {
    background-color: $color-teal;
    color: white;
  }
}

.button-signup {
  background-color: $color-teal;

  &:hover {
    background-color: $dark-teal;
  }
}

.user-icon {
  color: gray;
  font-size: 2em;
}
