<!--The content below is only a placeholder and can be replaced.-->
<!-- nav -->
<div class="top-bar padding">
  <div class="top-bar-left">
    <ul class="menu">
      <li routerLink="/" class="menu-text menu-logo">Talkiefy</li>
      <li><a routerLink="/home" class="menu-links">Home</a></li>
      <li><a href="#" class="menu-links">Courses</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" *ngIf="!loggedIn">
      <li><a routerLink="/login" class="button button-login">Login</a></li>
      <button class="round button button-signup" routerLink="/signup">Signup</button>
    </ul>

    <ul class="menu" *ngIf="loggedIn">
      <!-- <li *ngIf="loggedUser"><a>{{_autorizacionService.email}}</a></li> -->
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons user-icon">account_circle</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>{{loggedUser}}</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ul>
  </div>
</div>
<!-- router -->
<router-outlet></router-outlet>
