// Imports
@import '../../../node_modules/foundation-sites/scss/foundation';
@import '../../assets/foundation-sites/variables';
@include foundation-everything($prototype: true);


.container {
  // background-color: #e2e4e6 !important;
}

form {
  background-color: white !important;

  h4 {
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  label {
    text-transform: uppercase;
    font-family: $montserrat;
    letter-spacing: 2px;
    font-size: .8em;
  }

  p {
    font-family: $roboto;
  }

  button {
    font-family: $roboto;
    font-size: 1em;
  }
}

// ================= botones personalizados =====================================
.login {
  background: $color-purple;

  &:hover {
    transition: 0.3s all ease;
    background-color: $deep-purple;
  }
}

.cancel {
  background: $alert;

  &:hover {
    transition: 0.3s all ease;
    background: $dark-alert;
  }
}

.log-in-form {
  padding: $form-spacing;
  border-radius: $global-radius;
}

[type=email], [type=password] {
  border: 2px solid $medium-gray;
  box-shadow: none !important;
}

[type=email]:focus, [type=password]:focus {
  border: 2px solid $color-purple;
}
