// Imports
@import '../../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything($prototype: true);

$sans: 'Open Sans', sans-serif;
$mont: 'Montserrat', sans-serif;

.container {
  background-color: #e2e4e6 !important;
}

form {
  background-color: white !important;

  h4 {
    text-transform: uppercase;
    font-family: $mont;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  label {
    text-transform: uppercase;
    font-family: $mont;
    letter-spacing: 2px;
    font-size: .8em;
  }

  p {
    font-family: $sans;
  }

  button {
    font-family: $sans;
    font-size: 1em;
  }
}

// ================= botones personalizados =====================================
.gradient {
  background: #5e35b1;
  background: linear-gradient(to left, #7c1599, #7e4ae8);
}

.facebook {
  background: #3b5998;
}

.google {
  background: #4885ed;
}

.cancel {
  background: #e53935;
}

.cancel:hover {
  background: #c62828;
}

.log-in-form {
  padding: $form-spacing;
  border-radius: $global-radius;
}

[type=email], [type=password] {
  border: 2px solid $medium-gray;
  box-shadow: none !important;
}

[type=email]:focus, [type=password]:focus {
  border: 2px solid #5e35b1;
}
